<html>
    <body>
        <p>Generated at {{ now }}</p>
        <table>
            <tr>
                <th>Path</th>
                <th>Hits</th>
                <th>Bytes sent</th>
                <th>Per request</th>
            </tr>
            {% for path in sorted %}
            <tr>
                <td>{{ path.path }}</td>
                <td>{{ path.h }}</td>
                <td>{{ bytesfmt(path.s) }}</td>
                <td>{{ bytesfmt(path.avg) }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
